#welcome{
    background:red;
    height: 800px;
    display: table;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
.inner{
    text-align: center;
    position: relative;
    vertical-align: middle;
    display:table-cell;
}
.profile{
    border-radius: 50%;
}
h1{
  color: blue;
}
.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;

}

body {
    margin: 0;
    padding-top: 800px;
    text-align: center;

}

#bio {
    padding: 50px;
    text-align: center;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.38;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}
.links{
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: fantasy;
}
.links:hover{
    background-color: chartreuse;
    font-size: 25px;
}
html{
scroll-behaviuor:smooth;
}
img {
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
a {
    text-decoration: none;
    text-shadow: 2px 2px gainsboro;
}
}
#contact {
    background: firebrick;
}

.contact1 h3 {
    display: inline;
}
.contact1 a {
    text-shadow: none;
    color: white;
}
